$primary-color: hsl(213, 36%, 32%);
$secondary-color: hsl(276, 16%, 41%);
$color: hsl(347, 35%, 55%);
$text-color: hsl(21, 69%, 73%);
$text-color-secondary:hsl(100, 100%, 99%);

$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Dark-grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);