@use 'colors';

*{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
body{
    background-color: colors.$Dark-grayish-cyan;
    align-tracks: center;

main{
    display: flex;
    background-color: colors.$White;
    flex-direction: column;
    height: 380px;
    width: 750px;
    border-radius:15px;
    margin-top:10%;
    justify-self: flex-start;

    .info-section{
        justify-self: flex-end;
        height: 320px;
        width:300px;
        background-color: colors.$primary-color;
        border-radius: 10px;
        margin-left: 25px;
    }
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}



